.container {
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-rows: none; */

  height: 100% !important;
  width: 100% !important;
}

.tabs {
  display: grid;
  grid-template-rows: auto;

  height: 100% !important;
}

.panel {
  display: flex;

  height: 100%;
  width: 100%;
}
