.importDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.uploadFile {
  display: "flex";
  justify-content: center;
  align-content: center;

  height: fit-content;
  width: fit-content;

  border: 1px solid;
  background-color: white;

  :hover {
    background-color: gray;
    cursor: pointer;
  }
}

.inner {
  display: grid;
  grid-template-rows: 1fr auto auto;

  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.text {
  font-weight: bold;
}
